# Functions

In [1]:
def sohail_data(): #no parametrized function
    name = 'Sohail'
    age = 24
    sal = 4000
    qualification = 'MS-DS'
    
    print(f"My Name is {name}, and I am {age} years old. I have a basic salary of {sal}, and my qualifications are {qualification}")

In [2]:
sohail_data()

My Name is Sohail, and I am 24 years old. I have a basic salary of 4000, and my qualifications are MS-DS

In [15]:
sohail_data()

Enter your name:  Azhar
Your age 24
Enter your Salary100
Your Highest QualificationsMBA
My Name is Azhar, and I am 24 years old. I have a basic salary of 100, and my qualifications are MBA

In [26]:
my_info =['1','1','1','1','1']
def sohail_data(): #no parametrized function
    name = input('Enter your name:  ')
    age = int(input('Your age  '))
    sal = int(input('Enter your Salary  '))
    qualification = input('Your Highest Qualifications  ')
#     3 other variable 
    
    my_info[0]=name
    my_info[1]=age
    my_info[2]=sal
    my_info[3]=qualification


    print(f"My Name is {name}, and I am {age} years old. I have a basic salary of {sal}, and my qualifications are {qualification}")
    
print('out of function')

out of function

In [ ]:
sohail_data()

In [12]:
def my_info():
    name = input('Enter your name  ')
    age = int(input('Enter your age '))
    dept = input('Enter your department ')
    
    print(f"My name is {name} and I am {age} years old, I am in {dept} department")
    
def my_marks():
    math = int(input('Enter your Math Marks '))
    cs = int(input('Enter your CS Marks'))
    Eng = int (input('Your English Marks '))
    
    print(f"My marks in mathematics are {math} my marks in CS are {cs} and in English its {Eng}")


my_funct = [my_info, my_marks]

In [13]:
for i in my_funct:
    i()
    print('__________________________________________________________')

Enter your name  Sohail
Enter your age 12
Enter your department AI
My name is Sohail and I am 12 years old, I am in AI department
__________________________________________________________
Enter your Math Marks 12
Enter your CS Marks23
Your English Marks 34
My marks in mathematics are 12 my marks in CS are 23 and in English its 34
__________________________________________________________

In [15]:
def my_first_function():
    print("Hello world!")


print(f"type: {type(my_first_function)}")

  # Calling a function

type: <class 'function'>

In [17]:
my_first_function()

Hello world!

In [8]:
def hello(name, age, class_,salary): # parametrized function
    print(f'My Name is {name} and I am {age} years old and I have a class {class_}, and I draw a salary of {salary}')

In [9]:
hello('Sohail', 24, 'Python', 34000)

My Name is Sohail and I am 24 years old and I have a class Python, and I draw a salary of 34000

### Arguments

In [18]:
def greet_us(name1, name2):
    print(f"Hello {name1} and {name2}!")

In [19]:
greet_us("Sohail", "Ahmed")

Hello Sohail and Ahmed!

In [20]:
def Setting(text):
    title = text.title()
    return title

In [22]:
Setting('sohail ahmed')

'Sohail Ahmed'

In [37]:
def Addition(a, b):
    c= a+b
    return c

def function_b(a,b):
    c = a-b
    return c

In [ ]:
Addition(num1, num2)

In [ ]:
function_b(num1, num2)

In [48]:
def addition(num1, num2):
    a= num1+num2;
    return a;
   
def substraction(num1, num2):
    return num1-num2; 
def multiplication(num1, num2):
    return num1*num2; 
def division(num1, num2):
    return num1/num2;

In [57]:
def base_func(num1, num2):
    my_func = [addition, substraction, multiplication, division]
    for i in my_func:
        print(i(num1, num2))
    return None

In [58]:
base_func(4,5)

9
-1
20
0.8

Multiplication, Subtraction, and Division

In [36]:
num1 = int(input("Enter num1 "))
num2 = int(input("Enter num2 "))
Addition(num1, num2)

Enter num1 7
Enter num2 5

12

In [59]:
# Function with return value
def strip_and_lowercase(original):
    modified = original.strip().lower()
    return modified


uggly_string = "  MixED CaSe "
pretty = strip_and_lowercase(uggly_string)
print(f"pretty: {pretty}")

pretty: mixed case

### Keyword arguments

In [62]:

my_fancy_calculation(3, 1, 5)

-1

In [63]:
my_fancy_calculation(first=77, second=1, third=450)

-372

In [60]:
def my_fancy_calculation(first, second, third):
    fifth = first + second - third
    return fifth

In [65]:
# # With keyword arguments you can mix the order
my_fancy_calculation(third=1, first=3, second=2)

4

In [26]:
# # You can mix arguments and keyword arguments but you have to start with arguments
my_fancy_calculation(3, third=1, second=2)

4

In [66]:
def data(name, age, job=None, salary=30000):
    my_data ={'name': name, 'age':age, 'Job':job, 'salary':salary}
    return my_data

In [68]:
data('Sohail', 24)

{'name': 'Sohail', 'age': 24, 'Job': None, 'salary': 30000}

### Default arguments

In [27]:
def create_person_info(name, age, job=None, salary=300):
    info = {"name": name, "age": age, "salary": salary}

    # Add 'job' key only if it's provided as parameter
    if job:
        info.update(dict(job=job))

    return info


person1 = create_person_info("John Doe", 82)  # use default values for job and salary
person2 = create_person_info("Lisa Doe", 22, "hacker", 10000)
print(person1)
print(person2)

{'name': 'John Doe', 'age': 82, 'salary': 300}
{'name': 'Lisa Doe', 'age': 22, 'salary': 10000, 'job': 'hacker'}

**Don't use mutable objects as default arguments!**

In [69]:

def append_if_multiple_of_five(number, magical_list=[]):
    if number % 5 == 0:
        magical_list.append(number)
    return magical_list

In [79]:
append_if_multiple_of_five(20000000000000000001)

[100, 100, 10, 120, 0, 200000005, 20000000000000000005]

In [81]:
magical_list

NameError: name 'magical_list' is not defined

In [42]:
print(append_if_multiple_of_five(123))

[100, 105]

In [43]:
print(append_if_multiple_of_five(123, []))

[]

In [44]:
print(append_if_multiple_of_five(123))

[100, 105]

Here's how you can achieve desired behavior:

In [53]:
def append_if_multiple_of_five(number, magical_list=None):
    if not magical_list:
        magical_list = []
    if number % 5 == 0:
        magical_list.append(number)
    return magical_list


print(append_if_multiple_of_five(100))
print(append_if_multiple_of_five(105))
print(append_if_multiple_of_five(123))
print(append_if_multiple_of_five(123, []))
print(append_if_multiple_of_five(123))

[100]
[105]
[]
[]
[]

### Docstrings
Strings for documenting your functions, methods, modules and variables.

In [91]:
def print_sum(val1, val2):
    """Bhai men two variables ko apas men jorr raha hn"""
    print(f"sum: {(val1 + val2)}")
    return None

In [92]:
print_sum(2,4)

sum: 6

In [93]:
help(print_sum)

Help on function print_sum in module __main__:

print_sum(val1, val2)
    Bhai men two variables ko apas men jorr raha hn

In [52]:
def calculate_sum(val1, val2):
    """This is a longer docstring defining also the args and the return value.

    Args:
        val1: The first parameter.
        val2: The second parameter.

    Returns:
        The sum of val1 and val2.

    """
    return val1 + val2


print(help(calculate_sum))

Help on function calculate_sum in module __main__:

calculate_sum(val1, val2)
    This is a longer docstring defining also the args and the return value.

    Args:
        val1: The first parameter.
        val2: The second parameter.

    Returns:
        The sum of val1 and val2.

None

### [`pass`](https://docs.python.org/3/reference/simple_stmts.html#the-pass-statement) statement
`pass` is a statement which does nothing when it's executed. It can be used e.g. a as placeholder to make the code syntatically correct while sketching the functions and/or classes of your application. For example, the following is valid Python.

In [46]:
# def my_function(some_argument):
#     pass

In [96]:
def my_function(some_argument):
    pass

In [4]:
sohail()

Sohail Ahmed Malik is now a function

In [ ]:
print()