# Strings in Python
##### Strings are sequences of characters, and they are one of the most commonly used data types in Python.

#### 1. Creating and Printing Strings
##### You can create strings using either single quotes, double quotes, or triple quotes.

# [Strings](https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str)

Logical Error---->  , Syntatic Error--->print- Print---> case sensitive

data types -format of data ----> Text----> string, str, object, object, number---> interger --4, float -----5.3242, 0.45

pandas, variable ---> Data hold, name, age, salary

assignmnet =

In [1]:
name = "Sohail"
age= 24.5
qualification = 'MSDS'

In [173]:
text = 'Woody equal ask saw sir weeks aware decay. Entrance prospect removing we packages strictly is no smallest he. For hopes may chief get hours day rooms. Oh no turned behind polite piqued enough at. Forbade few through inquiry blushes you. Cousin no itself eldest it in dinner latter missed no.'

In [ ]:
name =input('Enter Your name')
age  =int(input('Enter your age'))
educ =input('Enter your Education'

print(f'Hello My name is {name} and I am {age} year old, I do posses the qualification of {educ}')

In [174]:
text.find('sir')

20

In [176]:
freq = text.count('sir')
freq

1

In [2]:
salary = 34.0

In [3]:
type(salary)

float

In [4]:
type(age)

float

In [7]:
my_string = "Python is my favorite programming language!"

In [10]:
my_string

'Python is my favorite programming language!'

In [11]:
type(my_string)

str

In [12]:
len(my_string)

43

In [ ]:
name: input
age:
salary: input
qualification:
contact: input
email:
name = input('Enter Your name')

In [ ]:
name  = "Sohail"
contact = 9333333333
email = 'sohailahmed@gmail.com'
age = 24

In [ ]:
bio_data = f'My Name is {name}\nAnd My Contact is {contact}\nEmail is {email}\nI am {age}years old'

In [ ]:
print(bio_data)

In [ ]:
# bio_date = f"My name is {}, I am {} years old, and you can contact me at {}".format(name,age,contact)

In [ ]:
# Example 3: Using f-strings for formatted output (Python 3.6+)
name = "Sohail Ahmed"
age = 24
formatted_string = f"My name is {name} and I am {age} years old."
print(f"Formatted string: {formatted_string}")

In [ ]:
# Example 4: Using format() method for string formatting
formatted_string_2 = "My name is {} and I am {} years old.".format(name, age)
print(f"Formatted with format(): {formatted_string_2}")

In [ ]:
words = ['Sohai', 'Ahmed', 'Malik', 'Sukkur']

combined_words = ' '.join(words)
print(combined_words)

In [15]:
!python --version

Python 3.11.5

location of values in list is the index value

In [39]:
full_name = ['Sohail', 'Ahmed', 'Malik', '25']

In [52]:
name = full_name[1] + ' '+full_name[0] +' '+ full_name[2]
age = full_name[3]

In [53]:
print(f'My name is {name} and I am {age} years old')

My name is Ahmed Sohail Malik and I am 25 years old

concatenation means adding strings

In [ ]:
name = 'Sohai'+' '+ 'Ahmed'+' '+ 'Malik'+' '+ 'Sukkur'
name

List_data, First_name, last_name, age, salary, caste

my name is last_name,+first_name, salary, caste, age,

In [ ]:
word = "Sohail Ahmed"

first_letter = word[:-3]
first_letter

In [55]:
total = '100,000'

In [66]:
type casting --- ek type se doosre type data ko convert karenge

AttributeError: 'int' object has no attribute 'replace'

In [56]:
print(f'Total sum {total}')

ValueError: invalid literal for int() with base 10: '100,000'

substring

In [67]:
word = 'Sohail Malik'

In [84]:
subtr = word[5:9] #start point : and end point

In [83]:
subtr

'l Ma'

In [96]:
full_name =['Sohail', 'Ahmed','Malik', 'Ahmed', 'Larkana']
name = "''(-_-)'".join(full_name)
print(name)

Sohail''(-_-)'Ahmed''(-_-)'Malik''(-_-)'Ahmed''(-_-)'Larkana

In [97]:
# Example 5: Joining a list of strings into a single string
words = ["Python", "is", "fun"]
sentence = " ".join(words)
print(f"Joined string: {sentence}")

Joined string: Python is fun

In [98]:
print(f'My list has first value {full_name[0]} and Last value is {full_name[-1]}')

My list has first value Sohail and Last value is Larkana

In [103]:
print(f"Value of the list from 2 to 5 index {full_name[2:4]}")

Value of the list from 2 to 5 index ['Malik', 'Ahmed']

In [ ]:
# Example 1: Accessing individual characters using indexing
word = "Python"
print(f"First character: {word[0]}")
print(f"Last character: {word[-1]}")

In [ ]:
# Example 2: Slicing a string (substring)
print(f"First three characters: {word[:3]}")
print(f"Characters from index 2 to 4: {word[2:5]}")

In [ ]:
# Example 3: Negative indexing (starts from the end)
print(f"Last three characters: {word[-3:]}")

In [ ]:
# Example 5: Reversing a string using slicing
reversed_string = word[::-1]
print(f"Reversed string: {reversed_string}")

In [143]:
name = 'SohailAhmed-Malik'

In [144]:
name = name.replace('Ahmed', 'khan')

In [145]:
name = name.split('-')

In [146]:
name

['Sohailkhan', 'Malik']

In [ ]:
word = 'Sohail Malik'

In [ ]:
word = word.replace('Malik', 'Ahmed')
word

In [ ]:
word = 'Sohail Malik'
word = word.split(' ')
word

In [ ]:
# Example 3: replace() - replacing parts of a string
replaced_string = original_string.replace("Fun", "awesome")
print(f"Replaced string: {replaced_string}")

In [ ]:
# Example 4: split() - splitting a string into a list of substrings
split_string = "Python,Java,C++".split(",")
print(f"Split string: {split_string}")

In [147]:
text = 'Sukkur IBA University is a public sector university. IBA is in sukkur region'

In [148]:
iba = text.find('IBA')
frequency = text.count('IBA')
frequency

2

In [ ]:
# Example 5: find() and count() - finding substrings and counting occurrences
text = "Python is a great programming language. Python is popular."
print(f"First occurrence of 'Python': {text.find('Python')}")
print(f"Count of 'Python': {text.count('Python')}")

mutable or unmutable, try- catch method, exception handling

In [152]:
name = "sohail"

try:
    name[0] = "S"
except TypeError as e:
    print(f"Error: {e}")

Error: 'str' object does not support item assignment

In [160]:
name.replace('s','S')

'S'

In [161]:
name

'S'

In [ ]:
# 5. String Immutability
# Strings in Python are immutable, meaning they cannot be changed after they are created.

# Example: Attempting to modify a string will result in an error
immutable_string = "Immutable"
try:
    immutable_string[0] = "i"
except TypeError as e:
    print(f"Error: {e}")

In [ ]:
text = 'FAST NUCES Karachi is located in the Hub of Karachi, it is the most prominent unive of Karachi'

location  = text.find('Karachi')
freq = text.count('Karachi')

In [163]:
name = "sohail"

In [164]:
name.replace('s', 'S')

'Sohail'

In [167]:
word = 'sohail'

word = 'S'+word[1:]
word

'Sohail'

In [ ]:
# Instead, you can create a new string
new_string = "i" + immutable_string[1:]
print(f"Modified string: {new_string}")

In [ ]:
# 6. String Comparisons
# Strings can be compared using relational operators.

# Example 1: Checking equality
print(f"Are 'Python' and 'python' the same? {'Python' == 'python'}")

In [172]:
word = 'sohail AHMED'

word.title()

'Sohail Ahmed'

In [ ]:
# Example 2: Case-insensitive comparison
print(f"Case-insensitive comparison: {'Python'.lower() == 'python'.lower()}")

In [169]:
word = 'Sohail Ahmed'
word.endswith('S')

False

In [ ]:
# Example 4: Checking if a string starts or ends with a substring
filename = "example.py"
print(f"Does filename start with 'ex'? {filename.startswith('ex')}")
print(f"Does filename end with '.py'? {filename.endswith('.py')}")

In [ ]:
# Example 5: Checking if a string contains only digits
numeric_string = "12345"
print(f"Is the string numeric? {numeric_string.isdigit()}")

### Respecting [PEP8](https://www.python.org/dev/peps/pep-0008/#maximum-line-length) with long strings

In [ ]:
long_story = (
   "Sukkur IBA University is one of the top public sector university\nIt has almost 8 Departments including, CS,SE, BBA, A&F, BBA-Ag \nIt is located in the hub of Sukkur City, on Nisar Ahmed Sidiqui Road"
)
print(long_story)

## `str.replace()`

If you don't know how it works, you can always check the `help`:

In [ ]:
help(str.replace)

This will not modify `my_string` because replace is not done in-place.

In [ ]:
my_string.replace("a", "?")
print(my_string)

You have to store the return value of `replace` instead.

In [ ]:
my_modified_string = my_string.replace("is", "will be", 1)
print(my_modified_string)

## f-strings

In [ ]:
first_name = "Sohail"
last_name = "Ahmed"
age = 24
print(f"My name is {first_name} {last_name}, you can call me {first_name}.")
print(f"I'm {age} years old.")

In [ ]:
print(f"Use '=' to also print the variable name like this: {age=}")

## `str.join()`

In [ ]:
pandas = "pandas"
numpy = "numpy"
requests = "requests"
cool_python_libs = ", ".join([pandas, numpy, requests])

In [ ]:
print(f"Some cool python libraries: {cool_python_libs}")

Alternative (not as [Pythonic](http://docs.python-guide.org/en/latest/writing/style/#idioms) and [slower](https://waymoot.org/home/python_string/)):

In [ ]:
cool_python_libs = pandas + ", " + numpy + ", " + requests
print(f"Some cool python libraries: {cool_python_libs}")

cool_python_libs = pandas
cool_python_libs += ", " + numpy
cool_python_libs += ", " + requests
print(f"Some cool python libraries: {cool_python_libs}")

## `str.upper(), str.lower(), str.title()`

In [ ]:
mixed_case = "PyTHoN hackER"

In [ ]:
mixed_case.upper()

In [ ]:
mixed_case.lower()

In [ ]:
mixed_case.title()

In [ ]:
word = '   sohail      '

In [ ]:
word.strip()

## `str.strip()`

The strip() method removes any leading, and trailing whitespaces. Leading means at the beginning of the string, trailing means at the end. You can specify which character(s) to remove, if not, any whitespaces will be removed.

In [ ]:
ugly_formatted = " \n \t Some story to tell."
stripped = ugly_formatted.strip()

print(f"ugly: {ugly_formatted}")
print(f"stripped: {stripped}")

In [ ]:
txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",.grt")

print(x)

## str.split()

In [ ]:
sentence = "three different words"
words = sentence.split()
print(words)

In [ ]:
type(words)

In [ ]:
secret_binary_data = "01001,101101,11100000"
binaries = secret_binary_data.split(",")
print(binaries)

## Calling multiple methods in a row

In [ ]:
ugly_mixed_case = "   ThIS LooKs BAd "
pretty = ugly_mixed_case.strip().lower().title().replace("bad", "good")
print(pretty)

Note that execution order is from left to right. Thus, this won't work:

In [ ]:
pretty = ugly_mixed_case.replace("bad", "good").strip().lower()
print(pretty)

## [Escape characters](http://python-reference.readthedocs.io/en/latest/docs/str/escapes.html#escape-characters)

In [ ]:
two_lines = "First line\nSecond line"
print(two_lines)

In [ ]:
indented = "\tThis will be indented"
print(indented)

In [ ]:
name

# Summary:
1.  Strings can be created using single, double, or triple quotes.
2.  You can manipulate strings using concatenation, repetition, and various string methods.
3.  Strings are immutable, meaning they cannot be changed after they are created.
4.  String indexing and slicing allows for extracting substrings or individual characters.