# [Lists](https://docs.python.org/3/library/stdtypes.html#lists)

Data avaialble usko manage kese karna hai ?? Data Structure, kis format me hai, ya kis format me rakhni

Homegenous (same type) and Hetrogenous (Different types)

In [1]:
name = 'Sohail'
age = 24
salary = 5000.0

In [10]:
import pandas as pd

In [22]:
bio_data = ['Sartaj', 30, 3000.0, 'Sukkur', 20]

print(bio_data[:3]) # slicing

['Sartaj', 30, 3000.0]

In [27]:
my_list = ['Sohail', 24, 50000.00]
print(my_list[0])

Sohail

In [29]:
bio_data = ['Sartaj', 30, 3000.0, 'Sukkur', 20]

In [30]:
bio_data[0] ='Sohail'

In [31]:
bio_data

['Sohail', 30, 3000.0, 'Sukkur', 20]

In [8]:
my_list[0]

'Sohail'

In [32]:
type(bio_data)

list

In [36]:
my_empty_list = []
my_empty_list

[1, 23, 4]

In [34]:
print(f"empty list: {my_empty_list}, type: {type(my_empty_list)}")

empty list: [], type: <class 'list'>

In [13]:
list_of_ints = [1, 2, 6, 7]
list_of_misc = [0.2, 5, "Python", "is", "still          fun       ", "!"]
print(f"lengths: {len(list_of_ints)} and {len(list_of_misc)}")

lengths: 4 and 6

## Accessing values

### Slicing ---> Breaking into Chuncks

Biodata List---> Name, Age, Salary, email, contact, company, city

print(har ek value ek new line par print karen without using print--->/n)

In [41]:
my_list = ["Python", "is", "still", "cool", "Java", "is", "not", "cool"]
print(f'{my_list[0]}\n, {my_list[1]}')

Python
, is

In [43]:
my_list = ['Sohail','Ahmed', 'Malik']

print(f'My name is {my_list[0]}\nMy Last Name is {my_list[1]}\nMy Caste is {my_list[2]}')

My name is Sohail
My Last Name is Ahmed
My Caste is Malik

In [54]:
coordinates = [[12.0, 13.3], [0.6, 18.0], [88.0, 1.1]]  # two dimensional
print(f"first coordinate: {coordinates[2][0]}")

first coordinate: 88.0

In [48]:
print(f"second element of first coordinate: {coordinates[0:]}")

second element of first coordinate: [[12.0, 13.3], [0.6, 18.0], [88.0, 1.1]]

## Updating values

In [60]:
my_list = [9, 1, 2, 3, 4, 5]
my_list[0] = 'Sohail'
print(my_list)

['Sohail', 1, 2, 3, 4, 5]

In [61]:
# remove first value
del my_list[0:3]
print(my_list)

[3, 4, 5]

In [119]:
sorted_words

['a', 'is', 'list', 'of', 'this', 'words']

In [60]:
del my_list[0:3]
print(my_list)

[1, 2, 3, 5]

In [120]:
words

['this', 'is', 'a', 'list', 'of', 'words']

## Checking if certain value is present in list

In [67]:
languages = ["Java", "C++", "Go", "Python","JavaScript"]
if languages[3] in languages[0:3]:
    print("Languagae is there!")
else:
    print("Requested Language Not Available")

Requested Language Not Available

In [69]:
if 'Dax' not in [1, 2, 3,'Dax', 6, 7]:
    print("dax is not present")
else:
    print("Dax is present")

Dax is present

NAME== REPLACE WITH YOUR LAST NAME, CONDITIONAL SALARY > 30000  MESSAGE DEAR {NAME} YOUR SALARY IS {SALARY} AND YOUR ARE WORKING IN {COMPANY}

## List are mutable

Mutable---> changeable and immutable---> unchangeable

In [73]:
original = [1, 2, 3]
copy_list = original

In [116]:
numbers

['67', 'Ahmed', 'Malik', 'Sohail', 'Zapier']

List your biodate and change it using list, copy, and assignement method

In [74]:
original[0] = 99
print(f"original: {original}, modified: {copy_list}")

original: [99, 2, 3], modified: [99, 2, 3]

You can get around this by creating new `list`:

Type casting

In [83]:
my_list = [1]
modified = list(my_list)

In [84]:
original = [1, 2, 3]
#modified = list(original)  # Note list()
# Alternatively, you can use copy method
modified = original.copy()
original[0] = 99
print(f"original: {original}, modified: {modified}")

original: [99, 2, 3], modified: [1, 2, 3]

## `list.append()`

In [103]:
my_list = ['Sohail', 'Ahmed']

In [104]:
my_list.append("Malik")

In [105]:
print(my_list)

['Sohail', 'Ahmed', 'Malik']

## `list.remove()`

In [100]:
my_list.remove("Sohail")
print(my_list)

['Ahmed', 'Malik']

In [108]:
# If you are not sure that the value is in list, better to check first:
if "Sohail" in my_list:
    my_list.remove("Sohail")
    print(my_list)
else:
    print("Congratulation sohail is not in the list")

Congratulation sohail is not in the list

## `list.sort()`

In [114]:
numbers = ['Zapier','Sohail', 'Ahmed', 'Malik', '67']
numbers.sort()
print(f"numbers: {numbers}")

numbers: ['67', 'Ahmed', 'Malik', 'Sohail', 'Zapier']

In [115]:
numbers

['67', 'Ahmed', 'Malik', 'Sohail', 'Zapier']

In [89]:
numbers.sort(reverse=True)
print(f"numbers reversed: {numbers}")

numbers reversed: ['Zapier', 'Sohail', 'Malik', 'Ahmed', '67']

In [90]:
words = ["this", "is", "a", "list", "of", "words"]
words.sort()
print(f"words: {words}")

words: ['a', 'is', 'list', 'of', 'this', 'words']

In [140]:
len(words)

6

In [141]:
list1[4]=len(words)

In [142]:
list1

[2, 3, 4, 1, 6, [...]]

In [139]:
list1=[2,3,4,1,3]
list1.append(list1)
print(list1)

[2, 3, 4, 1, 3, [...]]

## `sorted(list)`
While `list.sort()` sorts the list in-place, `sorted(list)` returns a new list and leaves the original untouched:

In [129]:
words = ["@", "$", "!", "list", "of", "words"]
sorted(words)
print(f"{sorted(words)}")

['!', '$', '@', 'list', 'of', 'words']

In [125]:
words

['this', 'is', 'a', 'list', 'of', 'words']

In [80]:
numbers = [8, 1, 6, 5, 10]
sorted_numbers = sorted(numbers)
print(f"{numbers=}, {sorted_numbers=}")

numbers=[8, 1, 6, 5, 10], sorted_numbers=[1, 5, 6, 8, 10]

## `list.extend()`

In [136]:
first_list = ["beef", "ham"]
second_list = ["potatoes", 1, 3]

concatenation

In [131]:
extended_list = first_list + second_list

In [132]:
extended_list

['beef', 'ham', 'potatoes', 1, 3]

In [133]:
second_list

['potatoes', 1, 3]

In [137]:
second_list.extend(first_list)
print(f"{second_list=}")

second_list=['potatoes', 1, 3, 'beef', 'ham']

second list should be your siblings details and then extend both list

In [101]:
second_list

['potatoes', 1, 3]

In [110]:
my_list = ['Sohail', 'Ahmed']
my_list_2 = ['Malik', 'AINGENX']

my_list_2.extend(my_list)

print(my_list_2)

['Malik', 'AINGENX', 'Sohail', 'Ahmed']

In [85]:
my_list = ['Sohail', 'Ahmed']
my_list_2 = ['Malik', 'AINGENX']

my_list+=my_list_2

print(my_list)

['Sohail', 'Ahmed', 'Malik', 'AINGENX']

Alternatively you can also extend lists by summing them:

In [17]:
first = [1, 2, 3]
second = [4, 5]
first += second  # same as: first = first + second
print(f"{first=}")

first=[1, 2, 3, 4, 5]

## `list.reverse()`

In [157]:
my_list = ['Sohail', 24, 3000.4, 'Sukkur', '2034']
my_list.reverse()
print(my_list)

['2034', 'Sukkur', 3000.4, 24, 'Sohail']

In [158]:
my_list

['2034', 'Sukkur', 3000.4, 24, 'Sohail']

In [159]:
my_list[::-1]

['Sohail', 24, 3000.4, 'Sukkur', '2034']

In [88]:
type(number)

int

In [92]:
my_list = list[number]
my_list

list[3]

In [91]:
type(my_list)

types.GenericAlias

In [114]:
import pandas as pd

In [121]:
data = pd.read_csv('Admission_Predict.csv')

In [122]:
data.tail()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95