In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.style

In [3]:
file_path = 'Air_BNB_Data.csv';

In [5]:
df = pd.read_csv(file_path);

C:\Users\AHSAN\AppData\Local\Temp\ipykernel_31152\1587907189.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path);

In [7]:
df

,id,room_type,accommodates,bathrooms,cancellation_policy,cleaning_fee,instant_bookable,review_scores_rating,bedrooms,beds,log_price
0,6901257,Entire home/apt,3.0,1.0,strict,True,f,100.0,1.0,1.0,5.010635
1,6304928,Entire home/apt,7.0,1.0,strict,True,t,93.0,3.0,3.0,5.129899
2,7919400,Entire home/apt,5.0,1.0,moderate,True,t,92.0,1.0,3.0,4.976734
3,13418779,Entire home/apt,4.0,1.0,flexible,True,f,NaN,2.0,2.0,6.620073
4,3808709,Entire home/apt,2.0,1.0,moderate,True,t,40.0,0.0,1.0,4.744932
...,...,...,...,...,...,...,...,...,...,...,...
74106,14549287,Private room,1.0,1.0,flexible,False,f,NaN,1.0,1.0,4.605170
74107,13281809,Entire home/apt,4.0,2.0,moderate,True,f,93.0,2.0,4.0,5.043425
74108,18688039,Entire home/apt,5.0,1.0,moderate,True,t,94.0,2.0,2.0,5.220356
74109,17045948,Entire home/apt,2.0,1.0,strict,True,t,NaN,0.0,2.0,5.273000
74110,3534845,Entire home/apt,4.0,1.0,moderate,False,f,96.0,1.0,2.0,4.852030

1. Columns Object Type (Done)
2. NaN Values (Mean, Median, KNN) (Done)
3. Duplicate Rows (Done)
4. Irrelevant Features (Done)
5. Outliers (Treated, Not-Treated)

In [9]:
df.info() #DataFrame Info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74111 entries, 0 to 74110
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    74111 non-null  int64
 1   room_type             74106 non-null  object
 2   accommodates          74108 non-null  float64
 3   bathrooms             73908 non-null  float64
 4   cancellation_policy   74103 non-null  object
 5   cleaning_fee          74107 non-null  object
 6   instant_bookable      74111 non-null  object
 7   review_scores_rating  57389 non-null  float64
 8   bedrooms              74019 non-null  float64
 9   beds                  73980 non-null  float64
 10  log_price             74111 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 6.2+ MB

In [13]:
round(df.describe().T,2) #Statistical Info

,count,mean,std,min,25%,50%,75%,max
id,74111.0,11266617.10,6081734.89,344.0,6261964.50,12254147.00,16402260.50,21230903.0
accommodates,74108.0,3.16,2.15,1.0,2.00,2.00,4.00,16.0
bathrooms,73908.0,1.24,0.58,0.0,1.00,1.00,1.00,8.0
review_scores_rating,57389.0,94.07,7.84,20.0,92.00,96.00,100.00,100.0
bedrooms,74019.0,1.27,0.85,0.0,1.00,1.00,1.00,10.0
beds,73980.0,1.71,1.25,0.0,1.00,1.00,2.00,18.0
log_price,74111.0,4.78,0.72,0.0,4.32,4.71,5.22,7.6

In [15]:
df.drop('id', axis=1, inplace=True)

In [17]:
df.shape

(74111, 10)

In [19]:
df.size

741110

In [21]:
df.ndim

2

In [23]:
df2 = df.drop_duplicates()

In [31]:
df.shape[0] - df2.shape[0]

19994

In [33]:
df2.head(1)

,room_type,accommodates,bathrooms,cancellation_policy,cleaning_fee,instant_bookable,review_scores_rating,bedrooms,beds,log_price
0,Entire home/apt,3.0,1.0,strict,True,f,100.0,1.0,1.0,5.010635

In [35]:
df2.columns

Index(['room_type', 'accommodates', 'bathrooms', 'cancellation_policy',
       'cleaning_fee', 'instant_bookable', 'review_scores_rating', 'bedrooms',
       'beds', 'log_price'],
      dtype='object')

In [39]:
df2['room_type'].unique()

array(['Entire home/apt', 'Private room', 'Shared room', nan],
      dtype=object)

In [43]:
df2['room_type'].value_counts(dropna=False)

room_type
Entire home/apt    33854
Private room       18413
Shared room         1845
NaN                    5
Name: count, dtype: int64

In [47]:
df2.head()
df2.tail()

,room_type,accommodates,bathrooms,cancellation_policy,cleaning_fee,instant_bookable,review_scores_rating,bedrooms,beds,log_price
74104,Entire home/apt,2.0,1.0,strict,True,f,100.0,1.0,1.0,4.356709
74107,Entire home/apt,4.0,2.0,moderate,True,f,93.0,2.0,4.0,5.043425
74108,Entire home/apt,5.0,1.0,moderate,True,t,94.0,2.0,2.0,5.220356
74109,Entire home/apt,2.0,1.0,strict,True,t,NaN,0.0,2.0,5.273000
74110,Entire home/apt,4.0,1.0,moderate,False,f,96.0,1.0,2.0,4.852030

In [49]:
df2.columns

Index(['room_type', 'accommodates', 'bathrooms', 'cancellation_policy',
       'cleaning_fee', 'instant_bookable', 'review_scores_rating', 'bedrooms',
       'beds', 'log_price'],
      dtype='object')

In [51]:
for col in df2.columns:
    if df2[col].dtype == 'object':
        print(df2[col].value_counts(dropna=False))
        print()

room_type
Entire home/apt    33854
Private room       18413
Shared room         1845
NaN                    5
Name: count, dtype: int64

cancellation_policy
strict      25213
flexible    14569
moderate    14327
NaN             8
Name: count, dtype: int64

cleaning_fee
True     40348
False    13765
NaN          4
Name: count, dtype: int64

instant_bookable
f    37838
t    16279
Name: count, dtype: int64

In [55]:
df3 = pd.get_dummies(df2, columns=['room_type', 'cancellation_policy', 'cleaning_fee', 'instant_bookable'], drop_first=False)

In [57]:
df2.shape

(54117, 10)

In [59]:
df3.shape

(54117, 16)

In [61]:
df3.head(1)

,accommodates,bathrooms,review_scores_rating,bedrooms,beds,log_price,room_type_Entire home/apt,room_type_Private room,room_type_Shared room,cancellation_policy_flexible,cancellation_policy_moderate,cancellation_policy_strict,cleaning_fee_False,cleaning_fee_True,instant_bookable_f,instant_bookable_t
0,3.0,1.0,100.0,1.0,1.0,5.010635,True,False,False,False,False,True,False,True,True,False

In [67]:
df3.isnull().sum()

accommodates                        3
bathrooms                         195
review_scores_rating            10215
bedrooms                           92
beds                              125
log_price                           0
room_type_Entire home/apt           0
room_type_Private room              0
room_type_Shared room               0
cancellation_policy_flexible        0
cancellation_policy_moderate        0
cancellation_policy_strict          0
cleaning_fee_False                  0
cleaning_fee_True                   0
instant_bookable_f                  0
instant_bookable_t                  0
dtype: int64

In [69]:
df_mean = df3.copy()
df_median = df3.copy()

In [71]:
df_mean.isnull().sum()

accommodates                        3
bathrooms                         195
review_scores_rating            10215
bedrooms                           92
beds                              125
log_price                           0
room_type_Entire home/apt           0
room_type_Private room              0
room_type_Shared room               0
cancellation_policy_flexible        0
cancellation_policy_moderate        0
cancellation_policy_strict          0
cleaning_fee_False                  0
cleaning_fee_True                   0
instant_bookable_f                  0
instant_bookable_t                  0
dtype: int64

In [75]:
for col in df_mean.columns:
    if df_mean[col].dtype != 'object':
        mean = df_mean[col].mean()
        df_mean[col] = df_mean[col].fillna(mean)

In [77]:
df_mean.isnull().sum()

accommodates                    0
bathrooms                       0
review_scores_rating            0
bedrooms                        0
beds                            0
log_price                       0
room_type_Entire home/apt       0
room_type_Private room          0
room_type_Shared room           0
cancellation_policy_flexible    0
cancellation_policy_moderate    0
cancellation_policy_strict      0
cleaning_fee_False              0
cleaning_fee_True               0
instant_bookable_f              0
instant_bookable_t              0
dtype: int64

In [79]:
for col in df_median.columns:
    if df_median[col].dtype != 'object':
        median = df_median[col].median()
        df_median[col] = df_median[col].fillna(median)

In [81]:
df_median.isnull().sum()

accommodates                    0
bathrooms                       0
review_scores_rating            0
bedrooms                        0
beds                            0
log_price                       0
room_type_Entire home/apt       0
room_type_Private room          0
room_type_Shared room           0
cancellation_policy_flexible    0
cancellation_policy_moderate    0
cancellation_policy_strict      0
cleaning_fee_False              0
cleaning_fee_True               0
instant_bookable_f              0
instant_bookable_t              0
dtype: int64

In [83]:
from sklearn.impute import KNNImputer

In [85]:
imputer = KNNImputer(n_neighbors=5)

In [87]:
df_imputed = imputer.fit_transform(df3)

In [88]:
df_knn = pd.DataFrame(data=df_imputed, columns=df3.columns)

In [91]:
df_knn.isnull().sum()

accommodates                    0
bathrooms                       0
review_scores_rating            0
bedrooms                        0
beds                            0
log_price                       0
room_type_Entire home/apt       0
room_type_Private room          0
room_type_Shared room           0
cancellation_policy_flexible    0
cancellation_policy_moderate    0
cancellation_policy_strict      0
cleaning_fee_False              0
cleaning_fee_True               0
instant_bookable_f              0
instant_bookable_t              0
dtype: int64

# Outliers Treatment

In [94]:
df_knn.columns

Index(['accommodates', 'bathrooms', 'review_scores_rating', 'bedrooms', 'beds',
       'log_price', 'room_type_Entire home/apt', 'room_type_Private room',
       'room_type_Shared room', 'cancellation_policy_flexible',
       'cancellation_policy_moderate', 'cancellation_policy_strict',
       'cleaning_fee_False', 'cleaning_fee_True', 'instant_bookable_f',
       'instant_bookable_t'],
      dtype='object')

In [114]:
features_with_outliers = df_knn.columns[:6]

In [116]:
features_with_outliers

Index(['accommodates', 'bathrooms', 'review_scores_rating', 'bedrooms', 'beds',
       'log_price'],
      dtype='object')

In [142]:
df_knn[features_with_outliers].boxplot(vert=0)

In [144]:
def remove_outliers(col):
    sorted(col)
    Q1, Q3 = np.percentile(col, [25,75])
    IQR = Q3 - Q1
    lower_range = Q1 - (1.5 * IQR)
    upper_range = Q3 + (1.5 * IQR)
    return lower_range, upper_range

In [146]:
df_knn_o = df_knn.copy()

In [148]:
for column in df_knn_o[features_with_outliers]:
    lr, ur = remove_outliers(df_knn_o[column])
    df_knn_o[column] = np.where(df_knn_o[column]>ur, ur, df_knn_o[column])
    df_knn_o[column] = np.where(df_knn_o[column]<lr, lr, df_knn_o[column])

In [154]:
df_knn_o[features_with_outliers].boxplot(vert=0)

In [156]:
df_knn.to_csv('df_knn.csv', index=False)
df_knn_o.to_csv('df_knn_o.csv', index=False)