In [11]:
import pandas as pd
import numpy as np

In [13]:
file_path = 'emails.csv'

In [15]:
df = pd.read_csv(file_path)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5172 entries, 0 to 5171
Columns: 3002 entries, Email No. to Prediction
dtypes: int64(3001), object(1)
memory usage: 118.5+ MB

In [19]:
df.describe()

,the,to,ect,and,for,of,a,you,hou,in,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
count,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,...,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000
mean,6.640565,6.188128,5.143852,3.075599,3.124710,2.627030,55.517401,2.466551,2.024362,10.600155,...,0.005027,0.012568,0.010634,0.098028,0.004254,0.006574,0.004060,0.914733,0.006961,0.290023
std,11.745009,9.534576,14.101142,6.045970,4.680522,6.229845,87.574172,4.314444,6.967878,19.281892,...,0.105788,0.199682,0.116693,0.569532,0.096252,0.138908,0.072145,2.780203,0.098086,0.453817
min,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,12.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.000000,3.000000,1.000000,1.000000,2.000000,1.000000,28.000000,1.000000,0.000000,5.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,8.000000,7.000000,4.000000,3.000000,4.000000,2.000000,62.250000,3.000000,1.000000,12.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,210.000000,132.000000,344.000000,89.000000,47.000000,77.000000,1898.000000,70.000000,167.000000,223.000000,...,4.000000,7.000000,2.000000,12.000000,3.000000,4.000000,3.000000,114.000000,4.000000,1.000000

In [21]:
df.columns

Index(['Email No.', 'the', 'to', 'ect', 'and', 'for', 'of', 'a', 'you', 'hou',
       ...
       'connevey', 'jay', 'valued', 'lay', 'infrastructure', 'military',
       'allowing', 'ff', 'dry', 'Prediction'],
      dtype='object', length=3002)

In [23]:
for col in df.columns:
    if df[col].dtype == 'object':
        print(col)

Email No.

In [25]:
df.head()

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0

In [27]:
df.isnull().sum()

Email No.     0
the           0
to            0
ect           0
and           0
             ..
military      0
allowing      0
ff            0
dry           0
Prediction    0
Length: 3002, dtype: int64

In [29]:
df = df.drop('Email No.', axis=1)

In [31]:
from sklearn.preprocessing import MinMaxScaler

In [33]:
scaler = MinMaxScaler()

In [35]:
scaled_data = scaler.fit_transform(df.drop('Prediction', axis=1))

In [39]:
scaled_df = pd.DataFrame(scaled_data, columns=df.columns[:-1])

In [41]:
scaled_df['Prediction'] = df['Prediction']

In [43]:
scaled_df.head()

,the,to,ect,and,for,of,a,you,hou,in,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001054,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0
1,0.038095,0.098485,0.067055,0.067416,0.127660,0.025974,0.053741,0.014286,0.161677,0.080717,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.008772,0.0,0
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.004215,0.000000,0.000000,0.017937,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0
3,0.000000,0.037879,0.061224,0.000000,0.106383,0.012987,0.026870,0.028571,0.059880,0.004484,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0
4,0.033333,0.045455,0.046647,0.011236,0.106383,0.025974,0.030032,0.000000,0.053892,0.013453,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.008772,0.0,0

In [45]:
from sklearn.model_selection import train_test_split

In [47]:
X_original = df.drop('Prediction', axis=1) 
y_original = df['Prediction']

In [49]:
X_scaled = scaled_df.drop('Prediction', axis=1) 
y_scaled = scaled_df['Prediction']

In [51]:
X_train_original, X_test_original, y_train_original, y_test_original = train_test_split( X_original, y_original, test_size=0.2, random_state=42)

In [53]:
X_train_scaled, X_test_scaled, y_train_scaled, y_test_scaled = train_test_split( X_scaled, y_scaled, test_size=0.2, random_state=42)

### Perceptron

In [55]:
from sklearn.linear_model import Perceptron 
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [57]:
def evaluate_perceptron(X_train, X_test, y_train, y_test):
    perceptron = Perceptron(random_state=42)
    perceptron.fit(X_train, y_train)
    y_pred = perceptron.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred)
    return {
        'accuracy': accuracy,
        'precision': precision,
        'recall': recall,
        'f1': f1
    }

In [59]:
# Example usage with the original data
metrics_original = evaluate_perceptron(X_train_original, X_test_original, y_train_original, y_test_original)

print("Original Data Metrics:")
print(f"Accuracy: {metrics_original['accuracy']:.4f}")
print(f"Precision: {metrics_original['precision']:.4f}")
print(f"Recall: {metrics_original['recall']:.4f}")
print(f"F1-Score: {metrics_original['f1']:.4f}")

Original Data Metrics:
Accuracy: 0.9449
Precision: 0.9410
Recall: 0.8615
F1-Score: 0.8995

In [61]:
# Example usage with the scaled data
metrics_scaled = evaluate_perceptron(X_train_scaled, X_test_scaled, y_train_scaled, y_test_scaled)

print("Scaled Data Metrics:")
print(f"Accuracy: {metrics_scaled['accuracy']:.4f}")
print(f"Precision: {metrics_scaled['precision']:.4f}")
print(f"Recall: {metrics_scaled['recall']:.4f}")
print(f"F1-Score: {metrics_scaled['f1']:.4f}")

Scaled Data Metrics:
Accuracy: 0.9652
Precision: 0.9483
Recall: 0.9291
F1-Score: 0.9386

### Support Vector Machines

In [63]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [65]:
def evaluate_svm(X_train, X_test, y_train, y_test):
    svm = SVC(random_state=42)
    svm.fit(X_train, y_train)
    y_pred = svm.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred)
    return {
        'accuracy': accuracy,
        'precision': precision,
        'recall': recall,
        'f1': f1
    }

In [67]:
metrics_original_svm = evaluate_svm(X_train_original, X_test_original, y_train_original, y_test_original)

print("Original Data SVM Metrics:")
print(f"Accuracy: {metrics_original_svm['accuracy']:.4f}")
print(f"Precision: {metrics_original_svm['precision']:.4f}")
print(f"Recall: {metrics_original_svm['recall']:.4f}")
print(f"F1-Score: {metrics_original_svm['f1']:.4f}")

Original Data SVM Metrics:
Accuracy: 0.8174
Precision: 0.9084
Recall: 0.4020
F1-Score: 0.5574

In [69]:
metrics_scaled_svm = evaluate_svm(X_train_scaled, X_test_scaled, y_train_scaled, y_test_scaled)

print("Scaled Data SVM Metrics:")
print(f"Accuracy: {metrics_scaled_svm['accuracy']:.4f}")
print(f"Precision: {metrics_scaled_svm['precision']:.4f}")
print(f"Recall: {metrics_scaled_svm['recall']:.4f}")
print(f"F1-Score: {metrics_scaled_svm['f1']:.4f}")

Scaled Data SVM Metrics:
Accuracy: 0.9633
Precision: 0.9743
Recall: 0.8953
F1-Score: 0.9331

### Logistic Regression

In [71]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [73]:
def evaluate_logistic_regression(X_train, X_test, y_train, y_test):
    logistic_regression = LogisticRegression(random_state=42, max_iter=1000)
    logistic_regression.fit(X_train, y_train)
    y_pred = logistic_regression.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred)
    return {
        'accuracy': accuracy,
        'precision': precision,
        'recall': recall,
        'f1': f1
    }

In [75]:
metrics_original_lr = evaluate_logistic_regression(X_train_original, X_test_original, y_train_original, y_test_original)

print("Original Data Logistic Regression Metrics:")
print(f"Accuracy: {metrics_original_lr['accuracy']:.4f}")
print(f"Precision: {metrics_original_lr['precision']:.4f}")
print(f"Recall: {metrics_original_lr['recall']:.4f}")
print(f"F1-Score: {metrics_original_lr['f1']:.4f}")

Original Data Logistic Regression Metrics:
Accuracy: 0.9720
Precision: 0.9435
Recall: 0.9595
F1-Score: 0.9514

In [77]:
metrics_scaled_lr = evaluate_logistic_regression(X_train_scaled, X_test_scaled, y_train_scaled, y_test_scaled)

print("Scaled Data Logistic Regression Metrics:")
print(f"Accuracy: {metrics_scaled_lr['accuracy']:.4f}")
print(f"Precision: {metrics_scaled_lr['precision']:.4f}")
print(f"Recall: {metrics_scaled_lr['recall']:.4f}")
print(f"F1-Score: {metrics_scaled_lr['f1']:.4f}")

Scaled Data Logistic Regression Metrics:
Accuracy: 0.9836
Precision: 0.9666
Recall: 0.9764
F1-Score: 0.9714

Accuracy = Correct /  Total
Precision = Correct Positive / Total Positives