# [Numbers](https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex)

## `int`

varaiable mean changeable

In [12]:
num =5 #initialization (assignment) and declaration  (num)

initialization and Declaration

In [13]:
num

5

In [14]:
type(num)

int

In [25]:
type(var)

int

In [26]:
age = 24
type(age)

int

In [30]:
print(f'My age is {age}')

My age is 24

In [26]:
var

5

In [28]:
print(f'My interger value is {var}')

My interger value is 5

Arithmatic operations --> +,-,*,/ %

In [45]:
number_1 = float(input())
number_2 = int(input())

result = number_1 + number_2
print(f'Addition of two numbers {number_1} and {number_2} is {result}')
print(f'Subtraction of two numbers {number_1} and {number_2} is {number_1 - number_2}')
print(f'Multiplication of two numbers {number_1} and {number_2} is {number_1 * number_2}')
print(f'Division of two numbers {number_1} and {number_2} is {number_1 / number_2}')

6
4
Addition of two numbers 6.0 and 4 is 10.0
Subtraction of two numbers 6.0 and 4 is 2.0
Multiplication of two numbers 6.0 and 4 is 24.0
Division of two numbers 6.0 and 4 is 1.5

In [44]:
num1 = int(input("Enter the First Number in Integer ?"))
num2 = int(input("Enter the Second Number in Integer ?"))
num3 = float(input("Enter the Third Number in Float ?"))
result = num1 + num2 +  num3
print(f' Addition of First Number :- {num1} , Second Number :- {num2} and Third Number :- {num3} ==> {result}')

Enter the First Number in Integer ?4
Enter the Second Number in Integer ?5
Enter the Third Number in Float ?3.5
 Addition of First Number :- 4 , Second Number :- 5 and Third Number :- 3.5 ==> 12.5

three number, 2 numbers int, 1 float

In [36]:
type(number)

int

In [54]:
print('Income Tax rate 4% and PF Contribution rate is 10%\n\n')
basic_salary = input()
employee = input('Enter Your Name  ')
med_all= (5/100)*basic_salary
basic_salary_updated = basic_salary+med_all

house_rent= (5/100)*basic_salary_updated

learning_all=int(input('Enter your Learning Allowance  '))
gym_allownace=int(input('Enter your gym allowance  '))



gross_salary = basic_salary+med_all+house_rent+learning_all+gym_allownace
tax = (4/100)*gross_salary
pf = (10/100)*basic_salary

pf_contribution = pf+pf

# tax = float(input('Enter Payable Tax  '))
# pf = float(input('Enter your PF Contribution  '))


deduction =tax+pf

net_salary = gross_salary-deduction

print(f'\nHello {employee}\nYour monthly Gross salary is {gross_salary}, \nTotal Monthly Deductions are {deduction}\nYou are paid a Net Salary as {net_salary}\nYour Employeer PF Contribution is {pf} and same is yours, So Total PF Contribution is {pf_contribution}')

Income Tax rate 4% and PF Contribution rate is 10%


Enter Your Name  Sohail
Enter your Medical Allowance  6000
Enter your House Rent Allownace  15000
Enter your Learning Allowance  5000
Enter your gym allowance  6000

Hello Sohail
Your monthly Gross salary is 82000.0,
Total Monthly Deductions are 8280.0
You are paid a Net Salary as 73720.0
Your Employeer PF Contribution is 5000.0 and same is yours, So Total PF Contribution is 10000.0

all = that should be 5% of basic salary 
basic salary = basic_saalry +allowance

house rent = 5% of basic_updated

In [37]:
basic_salary = 56000
med_allowance= 6200
house_rent = 5600
additional_allowance =4000
income = 2560
pf = 3000
bonus_pct = 5 # 5% of basic salary

increament = ((bonus_pct)/100)*basic_salary

gross_salary = basic_salary+med_allowance+house_rent+additional_allowance+increament
deductions = income + pf
net_salary = gross_salary - deductions

print('Increament ', increament)
print('Goss Salary ',gross_salary)
print('Deductions ',deductions)
print('Net Salary ',net_salary)

Increament  2800.0
Goss Salary  74600.0
Deductions  5560
Net Salary  69040.0

In [39]:
increament = ((bonus_pct)/100)*basic_salary

In [45]:
check_division = 6/4

In [46]:
check_division

1.5

In [38]:
print('Data Type Increament ', type(increament))
print('Data Type Goss Salary ',type(gross_salary))
print('Data Type Deductions ',type(deductions))
print('Data Type Net Salary ',type(net_salary))

Data Type Increament  <class 'float'>
Data Type Goss Salary  <class 'float'>
Data Type Deductions  <class 'int'>
Data Type Net Salary  <class 'float'>

In [51]:
salary = 45000

print(float(salary))

45000.0

In [48]:
salary = 48000

In [49]:
salary

48000

In [1]:
my_int = 6
print(f"value: {my_int}, type: {type(my_int)}")

value: 6, type: <class 'int'>

## `float`

Type casting is just converting one data type into an other relevant datatype

In [56]:
num = 5
type(num)

int

In [57]:
num = float(num)
type(num)

float

In [2]:
my_float = float(my_int)
print(f"value: {my_float}, type: {type(my_float)}")

value: 6.0, type: <class 'float'>

Note that division of `int`s produces `float`:

In [5]:
print(1 / 1)
print(6 / 4)

1.0
1.5

In [59]:
from decimal import Decimal

In [60]:
Total_marks = 10.5
Total_marks = Decimal(Total_marks)
Total_marks

Decimal('10.5')

In [70]:
a = 3.52

b = Decimal(3.52)

In [71]:
a==b

True

In [83]:
subject_marks = 3+4.5+3

In [84]:
subject_marks

10.5

In [86]:
print(Total_marks==subject_marks)

True

roundoff data

1.5

1,2,3,4,5,6,7,8,9

Be aware of the binary floating-point pitfalls (see [Decimal](#decimal) for workaround):

In [6]:
val = 0.1 + 0.1 + 0.1
print(val == 0.3)
print(val)

False
0.30000000000000004

## Floor division `//`, modulus `%`, power `**`

In [15]:
# Division operator

result = 10 / 3

print(result)

3.3333333333333335

In [13]:
7 // 5

1

In [14]:
result1 = 10 // 3 

print("Floor division of two integers :", result1)

Floor division of two integers : 3

In [11]:
7 % 5

2

In [64]:
2**4

16

In [67]:
2*2*2*2

16

<a id='decimal'></a>
## [`decimal.Decimal`](https://docs.python.org/3/library/decimal.html)

In [72]:
from decimal import Decimal
import numpy as np
import pandas as pd

In [74]:
my_number = 3.45
type(my_number)

float

In [76]:
my_number = Decimal(my_number)
my_number

Decimal('3.45000000000000017763568394002504646778106689453125')

In [77]:
my_number = '3.5'

In [78]:
type(my_number)

str

In [80]:
my_number =  Decimal(my_number)
my_number

Decimal('3.5')

In [81]:
from_float = Decimal(0.1)
from_str = Decimal("0.1")
print(f"from float: {from_float}\nfrom string: {from_str}")

from float: 0.1000000000000000055511151231257827021181583404541015625
from string: 0.1

In [79]:
from_float==from_str

False

In [92]:
number =  Decimal(0.3)
number

Decimal('0.299999999999999988897769753748434595763683319091796875')

In [90]:
my_decimal = Decimal("0.1")
sum_of_decimals = my_decimal + my_decimal + my_decimal
print(sum_of_decimals == Decimal(0.3))

False

## Operator precedence in calculations
Mathematical operator precedence applies. Use brackets if you want to change the execution order:

DMAS
BODMAS

In [93]:
print(1 + 2**2 * 3 / 6)  # 1 + 4 * 3 / 6 == 1 + 12 / 6 == 1 + 2
print((1 + 2**2) * 3 / 6)

3.0
2.5

In [94]:
# Step 1: Define the person's name and base salary
person_name = "Sohail Ahmed"
base_salary = 50000  # Base salary in local currency

# Step 2: Define additional components of the salary
# Let's assume that Sohail gets additional components like bonuses or allowances
bonus_percentage = 0.10  # Bonus is 10% of base salary
allowance = 5000         # Fixed allowance

# Step 3: Calculate the total salary
bonus = base_salary * bonus_percentage
total_salary = base_salary + bonus + allowance

# Step 4: Generate the output message
salary_statement = f"Employee: {person_name}\nBase Salary: {base_salary} \nBonus: {bonus} \nAllowance: {allowance} \nTotal Salary: {total_salary}"

# Step 5: Print the salary details
print(salary_statement)

Employee: Sohail Ahmed
Base Salary: 50000
Bonus: 5000.0
Allowance: 5000
Total Salary: 60000.0

In [50]:
salary

48000