In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.style

In [5]:
file_path_knn_outlier_treated = 'df_knn_o.csv';

In [7]:
df_knn = pd.read_csv(file_path_knn_outlier_treated)

In [9]:
df_knn

,accommodates,bathrooms,review_scores_rating,bedrooms,beds,log_price,room_type_Entire home/apt,room_type_Private room,room_type_Shared room,cancellation_policy_flexible,cancellation_policy_moderate,cancellation_policy_strict,cleaning_fee_False,cleaning_fee_True,instant_bookable_f,instant_bookable_t
0,3.0,1.0,100.0,1.0,1.0,5.010635,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
1,7.0,1.0,93.0,3.0,3.0,5.129899,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
2,5.0,1.0,92.0,1.0,3.0,4.976734,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
3,4.0,1.0,93.2,2.0,2.0,6.620073,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0
4,2.0,1.0,80.5,0.0,1.0,4.744932,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54112,2.0,1.0,100.0,1.0,1.0,4.356709,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
54113,4.0,2.0,93.0,2.0,3.5,5.043425,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
54114,5.0,1.0,94.0,2.0,2.0,5.220356,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
54115,2.0,1.0,96.6,0.0,2.0,5.273000,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
54116,4.0,1.0,96.0,1.0,2.0,4.852030,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

# Normalization & Standardization

In [16]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [20]:
from scipy.stats import boxcox

In [22]:
scaler = StandardScaler()

In [24]:
df_z_standardized = df_knn.copy()

In [26]:
df_z_standardized.iloc[:,:5] = scaler.fit_transform(df_knn.iloc[:, :5])

# Test Train Split

In [29]:
target = 'log_price'
features = df_knn.columns.drop(target)

In [31]:
from sklearn.model_selection import train_test_split

In [33]:
df_original = df_knn.copy()

In [35]:
X_train_original, X_test_original, y_train_original, y_test_original = train_test_split(df_original[features], df_original[target], test_size=0.2, random_state=42)

In [41]:
X_train_z, X_test_z, y_train_z, y_test_z = train_test_split(df_z_standardized[features], df_z_standardized[target], test_size=0.2, random_state=42)

# KNN Regressor

In [44]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [46]:
def apply_knn_regressor(X_train, X_test, y_train, y_test):
    # initialize the k-NN Regressor with k=5 (You can experiment with different values of k)
    knn_regressor = KNeighborsRegressor(n_neighbors=5)
    # train the k-NN Regressor
    knn_regressor.fit(X_train, y_train)
    # Predict on the test set
    y_pred = knn_regressor.predict(X_test)
    # Evaluate the model
    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    return mse, r2

In [48]:
mse_original, r2_original = apply_knn_regressor(X_train_original, X_test_original, y_train_original, y_test_original)
print(f"Original Data - MSE: {mse_original:.2f}, R2: {r2_original:.2f}")

Original Data - MSE: 0.27, R2: 0.49

# Decision Tree

In [59]:
from sklearn.tree import DecisionTreeRegressor

In [61]:
def apply_decision_tree_regression(X_train, X_test, y_train, y_test):
    # Initialize the Decision Tree Regressor
    tree_regressor = DecisionTreeRegressor(random_state=42)
    # Train the Decision Tree Regressor
    tree_regressor.fit(X_train, y_train)
    # Predict on the test set
    y_pred = tree_regressor.predict(X_test)
    # Evaluate the model
    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    return mse, r2

In [63]:
mse_original, r2_original = apply_decision_tree_regression(X_train_original, X_test_original, y_train_original, y_test_original)
print(f"Original Data - MSE: {mse_original:.2f}, R2: {r2_original:.2f}")

Original Data - MSE: 0.32, R2: 0.40